
html, body {
  height: 100%;
  margin: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* This will push the footer down */
}

footer {
  background-color: #1A2B42;
  color: #a8d3f8;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  border-top: 1px solid rgba(168, 211, 248, 0.1);
  flex-shrink: 0;
}
