.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 0; /* Added vertical padding */
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
    position: relative; 
  }
  
  .navbar a:hover {
    color: #295f2d;
    font-weight: bold;
    font-size: 1.2rem;
  }
  